.wrapper header .navbar-collapse > .navbar-right > li > a { margin-right: 5px; }
.wrapper .main > #formMessage { position: fixed; right: 0; padding: 70px 5px 5px 5px; background-color: #f7f7f7; width: 100%; max-width: 400px; z-index: 999; }
.wrapper .main > #formMessage > button { margin: 5px; }
.wrapper .main > #formMessage [required] { width: 100%; border: 1px solid lightskyblue; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.wrapper .main .bxslider { padding: 50px 0 0 0; }
.wrapper .main .bxslider > li { width: 100%; }
.wrapper .main .bxslider > li img { max-width: 1170px; width: 100%; padding: 0; margin: 0; }
.wrapper .main .education > ul { float: left; }
.wrapper .main .education > img { float: right; }
.wrapper .main .skills { background-color: #28afb7; }
.wrapper .main .skills .skills_list > li { cursor: pointer; }
.wrapper .main .skills .skills_list li { font-size: 20px; padding: 5px; margin: 10px 0 0 10px; background: #e0c628; border: 1px dashed rgba(0, 0, 0, 0.36); }
.wrapper .main .skills img { max-width: 335px; width: 100%; margin: 50px 0 0 0; }
.wrapper footer > .container { background-color: #28afb7; }
.wrapper footer > .container > .row .online { margin: 10px 10px 0 0; display: inline-block; background-color: #4E729A; width: 50px; height: 50px; transform: rotate(-45deg); border: 5px solid #28afb7; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; transition: 1s; }
.wrapper footer > .container > .row .online > i { padding: 7px 10px 8px 5px; font-size: 25px; transform: rotate(45deg); color: black; }
.wrapper footer > .container > .row .twitter i { padding: 7px 10px 8px 10px; }
.wrapper footer > .container > .row .online:hover { border: 5px solid #4E729A; }
